@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Divic Sistems respeta su privacidad y se compromete a proteger los datos personales de sus usuarios. Este anuncio de privacidad describe cómo Divic Sistems recolecta, utiliza y comparte información a través de sus API.
</p>
<h6>
    Recolección de Información
</h6>
<p>
    Divic Sistems recolecta información a través de sus API con el objetivo de brindar servicios eficaces y personalizados a sus usuarios. Esta información puede incluir datos personales como nombres, direcciones de correo electrónico y números de teléfono. Además, DIVIC SISTEM puede recolectar información de uso, como el tiempo que los usuarios pasan en sus API y qué funciones utilizan con mayor frecuencia.
</p>
<h6>
    Uso de la Información
</h6>
<p>
    Divic Sistems utiliza la información recolectada a través de sus API para brindar servicios eficaces y personalizados a sus usuarios. Esta información también puede ser utilizada para mejorar la calidad de sus servicios y para fines de investigación y análisis. DIVIC SISTEM no compartirá información personal con terceros sin el consentimiento expreso del usuario, a menos que esté obligado por ley.

    <h6>
        Seguridad de la Información
    </h6>
<p>
    Divic Sistems se compromete a proteger la información personal de sus usuarios. Para garantizar la seguridad de la información, Divic Sistems implementa medidas de seguridad físicas, electrónicas y administrativas adecuadas para proteger contra el acceso no autorizado, la divulgación y el uso indebido de la información.
</p>
<h6>
    Cambios en el Anuncio de Privacidad
</h6>
<p>
    Divic Sistems puede modificar este anuncio de privacidad de vez en cuando. Si se realizan cambios significativos en la forma en que Divic Sistems utiliza la información personal de sus usuarios, se notificará a los usuarios mediante un aviso en la página principal de sus API.
</p>
<h6>
    Preguntas y Comentarios
</h6>
<p>
    Si tiene alguna pregunta o comentario sobre este anuncio de privacidad, por favor contáctenos a través de nuestros canales de soporte al usuario.
</p>
<p>
    Última actualización: 30 de Abril del 2023.
</p>
